.container {
    p {
        cursor: pointer;
        padding-left: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        // border: 1px solid red;
        align-items: center;
    }

    mat-toolbar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 9;
    }
}
