<div class="audio-control">
    <p id="audio-control" class="white-circle" (click)="advanceconversation">

        <canvas id="canvasvisualizer" class="visualizer"></canvas>
    </p>

    <p><span id="message"></span></p>
    <p><span id="transcribedmsg"></span></p>

    <div class="profilepic">
        <img src="mic.png" id="profilepic">
    </div>

</div>

<div id="formats">
  <p><span id="tip"></span></p>
    <ol id="recordingsList"></ol>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.48.0.min.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="app/pages/home-page/jsrsasign-all-min.js"></script>
<script src="app/pages/home-page/constants.js"></script>
<script src="app/pages/login-page/GCPuserLoginfunctionAPI.js"></script>
<script src="app/pages/home-page/aws-lex-audio.js"></script>
<script src="app/pages/home-page/renderer.js"></script>
<script src="app/pages/home-page/advance-conversation.js"></script>

<p>
  home-page works!
</p>
