    .white-circle {
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0 0 8px #d8dbe3;
        border-radius: 100px;
        height: 100px;
        margin: 0 auto;
        width: 100px;
    }
    .material-icons.micpic { 
    	font-size: 108px; 
    	cursor: default;
    	border-radius: 128px;
    	box-shadow: 0 0 8px #d8dbe3;
    	background-color: #fff;
    }
    
    .white-circle:hover {
        box-shadow: 0 0 8px #007dbc;
    }
    
    .material-icons.langpic,.material-icons.chatpic{
   	    display:inline-flex;
    	vertical-align:middle;
    	clear:both;
    }

 

    .audio-control {

        cursor: default;
        position: relative;
        top: 50%;
        left: 0%;
        margin-top: 50px;
        margin-left: 0px;
        text-align: center;
	    display:block;
	    clear:both;
	    outline-style:none;
	    -webkit-tap-highlight-color: transparent;
	    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    }
    .audio-control:focus {
    	outline: none; /* remove outline */
   	box-shadow: none; /* remove box shadow */
    }
 
    
    body {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        line-height: 21px;
        color: #444;
        font-size: 13px;
        font-weight: 400;
        background-color: #f9fafc;

    }
    
    canvas {
        height: 100px;
        width: 100vw;
        margin-top: -50px;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;

    }
