<div id="formats">
  <p><i class="material-icons chatpic">chat</i><span id="tip">tap on mic and say "hello"</span></p>
  <p style="text-align:left"><i class="material-icons langpic">language</i><span id="englishaccent">IN</span></p>

    <ol id="recordingsList"></ol>
</div>


<div class="audio-control ">
    <!--p id="audio-control" class="white-circle" ></p-->

        <canvas id="canvasvisualizer" class="visualizer"></canvas>
        <i class="material-icons micpic" (mousedown)="advanceconversation();" (mouseup)="stopRecordingMouseup();" (mouseleave)="stopRecordingMouseup();" >mic</i>
    

    <p><span id="message"></span></p>
    <p><span id="transcribedmsg"></span></p>

</div>



<div>
     <ins class="adsbygoogle"
     style="display:block;"
     data-ad-client="ca-pub-7518857353098283"
     data-ad-slot="7348146403"
     data-ad-format="auto"
     data-full-width-responsive="true">
     </ins>
</div>

<!--script src="app/pages/home-page/jsrsasign-all-min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script>

<script src="app/pages/home-page/constants.js"></script>
<script src="app/pages/login-page/GCPuserLoginfunctionAPI.js"></script>
<script src="app/pages/home-page/aws-lex-audio.js"></script>
<script src="app/pages/home-page/renderer.js"></script>
<script src="app/pages/home-page/advance-conversation.js"></script-->
